@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Req;
@using System.Globalization;

@model CommonResponse

@{
    Layout = "_MasterLayout";
    ViewBag.select2 = "true";
    DateTime dateTime1 = DateTime.Today;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                Add Leave
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a>Leave</li>
                    <li class="breadcrumb-item active">Add Leave</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        @if (Model.Status)
        {
            LeaveAddEditReqModel addEditRequirementResModel = Model.Data;
            DateTime dateTimeValue = addEditRequirementResModel.leaveDetails.JoiningDate;
            string joiningDate = dateTimeValue.ToString("yyyy-MM-dd");
            <div class="card-body">
                <div class="row">
                    <input id="txtLeaveId" name="txtLeaveId" type="hidden" class="form-control col-sm-4" value="@addEditRequirementResModel.leaveDetails.Id" />

                    <div class="col-sm-4" id="dddlLeaveTypeId">
                        <div class="form-group">
                            <label><span class="has-error required">* </span>Leave Type</label>
                            <select id="ddlLeaveTypeId" name="ddlLeaveTypeId" class="form-control select2" isrequired="1" divcontainer="dddlLeaveTypeId" errorspan="sddlLeaveTypeId" defaultvalue="0" style="width: 100%;">
                                <option value="0">--- Select LeaveType ---</option>
                                @foreach (var item in addEditRequirementResModel.leaveTypeList)
                                {
                                    if (item.Id == addEditRequirementResModel.leaveDetails.LeaveTypeId)
                                    {
                                        <option value="@item.Id" selected>@item.LeaveTypeName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.LeaveTypeName</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlLeaveTypeId">Please select Leave Type</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4" id="dtxtStartDate">
                        <label><span class="has-error required">* </span>Start Date</label> <i class="fa fa-info-circle circle" value="" title="Your JoinngDate : @joiningDate"></i>
                        <input type="date" id="txtStartDate" name="txtStartDate" class="form-control" isRequired="1" divcontainer="dtxtStartDate" errorspan="stxtStartDate" defaultvalue="0" minlength="2" value="@addEditRequirementResModel.leaveDetails.StartDate.ToString("yyyy-MM-dd")" />
                        

                        <span class="help-block d-none has-error" id="stxtStartDate">Please Select Start Date</span>
                    </div>


                    <div class="form-group col-sm-4" id="dddlStartTime">
                        <label><span class="has-error required">* </span>Start Time</label>
                        <select id="ddlStartTime" name="ddlStartTime" class="form-control select2" isrequired="1" divcontainer="dddlStartTime" errorspan="sddlStartTime" defaultvalue="0" style="width: 100%;">
                            <option value="0">--- Select StartTime---</option>
                            @foreach (var item in addEditRequirementResModel.StartTimeList)
                            {
                                if (addEditRequirementResModel.leaveDetails.Id > 0)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                        <span class="help-block d-none has-error" id="sddlStartTime">Please Select StartTime</span>
                    </div>

                    <div class="form-group col-sm-4" id="dtxtEndDate">
                        <label><span class="has-error required">* </span>End Date</label>
                        <input type="date" id="txtEndDate" name="txtEndDate" class="form-control" isRequired="1" divcontainer="dtxtEndDate" errorspan="stxtEndDate" defaultvalue="0" minlength="2" value="@addEditRequirementResModel.leaveDetails.EndDate.ToString("yyyy-MM-dd")" />
                        <span class="help-block d-none has-error" id="stxtEndDate">Please Select End Date</span>
                    </div>

                    <div class="form-group col-sm-4" id="dddlEndTime">

                        <label><span class="has-error required">* </span>End Time</label>
                        <select id="ddlEndTime" name="ddlEndTime" class="form-control select2" isrequired="1" divcontainer="dddlEndTime" errorspan="sddlEndTime" defaultvalue="0" style="width: 100%;">
                            <option value="0">--- Select EndTime---</option>

                        </select>
                        <input id="txtSelectedEndTime" name="txtSelectedEndTime" type="hidden" class="form-control" value="@addEditRequirementResModel.leaveDetails.EndTime" />
                        <span class="help-block d-none has-error" id="sddlEndTime">Please Select EndTime</span>

                    </div>

                    <div class="form-group col-sm-4" id="dtxtReason">
                        <label><span class="has-error required">* </span>Enter Reason</label>
                        <textarea id="txtReason" name="txtReason" class="form-control" isrequired="1" divcontainer="dtxtReason" errorspan="stxtReason" defaultvalue="0" minlength="2">@addEditRequirementResModel.leaveDetails.Reason</textarea>
                        <span class="help-block d-none has-error" id="stxtReason">Please Enter Reason</span>
                    </div>
                    @if (addEditRequirementResModel.leaveDetails.Id > 0)
                    {

                        @if (addEditRequirementResModel.LeaveStatusChangeView)
                        {
                            <div class="col-sm-4" id="dddlLeaveStatusId">
                                <div class="form-group">
                                    <label><span class="has-error required">* </span>Leave Status</label>
                                    <select id="ddlLeaveStatusId" name="ddlLeaveStatusId" class="form-control select2" isrequired="1" divcontainer="dddlLeaveStatusId" errorspan="sddlLeaveStatusId" defaultvalue="0" style="width: 100%;">
                                        <option value="0">--- Select LeaveStatus ---</option>
                                        @foreach (var item in addEditRequirementResModel.LeaveStatusList)
                                        {
                                            if (item.Id == addEditRequirementResModel.leaveDetails.HrStatus)
                                            {
                                                <option value="@item.Id" selected>@item.Name</option>
                                            }
                                            else if (item.Id == addEditRequirementResModel.leaveDetails.ApprovedByReportingStatus)
                                            {
                                                <option value="@item.Id" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span class="help-block d-none has-error" id="sddlLeaveStatusId">Please select Leave Status</span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card-footer">
                <input type="button" id="btnSaveAdd" name="btnSubmit" class="btn btn-success float-right ml-1" value="Submit" />

                <input type="button" id="btnCancel" name="btnCancel" class="btn btn-danger float-right" value="Cancel" />
            </div>
        }
        else
        {
            <p style="color:red">@Model.Message</p>
        }
    </div>
</section>
@section Scripts
    {

    <script src="~/archeone/js/leave/addeditleave.js?_@DateTime.Now.Ticks"></script>

    }