@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model CommonResponse
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
    ViewBag.select2 = "true";
    List<LeaveDetailsList> list = Model.Data.LeaveDetailsLists;
}
<style>
    td {
        text-align: left;
    }

    thead {
        font-weight: bold;
    }

    /* .circle1[title]:hover:after {
                            content: attr(title);
                            position: absolute;
                            background: #fff;
                            color: #000;
                            padding: 5px 10px;
                            border-radius: 5px;
                            font-weight: bold;
                            font-size: 24;
                        }*/

</style>
<div class="row form-group">
    <div class="col-md-12">

        <table id="tblLeave" class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <td>Actions</td>
                    <td>Cancel Leave</td>
                    <td>LeaveType</td>
                    <td>AppliedByUser</td>
                    <td>Hr Status</td>
                    <td>ApprovedBy HR</td>
                    <td>Reporting Manager Status</td>
                    <td>ApprovedBy ReportingManager</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>StartTime</td>
                    <td>EndTime</td>
                    <td>No Of Days</td>
                    <td>PaidDays</td>
                    <td>UnPaidDays</td>
                    <td>Reason</td>
                   
                </tr>
            </thead>
            <tbody>
                @if (list != null)
                    @foreach (var item in list)
                    {
                        <tr style="white-space:nowrap;">

                            @if (item.EditDisable)
                            {
                                <td>
                                    <i class="fa fa-pen pen" style="cursor: pointer;"></i> | <i class="fa fa-info-circle circle" value="your leave is approve so don't Editable" title="your leave is approve, so don't editable"></i>


                                    @* <i class="fa fa-trash trash btn-delete" Id="@item.Id" style="cursor: pointer;"></i>*@
                                </td>
                            }

                            else
                            {
                                @if (item.HREditDisable)
                                {
                                    <td>
                                        <i class="fa fa-pen pen" style="cursor: pointer;"></i> | <i class="fa fa-info-circle circle" value="" title=" Approval required from reporting manager for editing access"></i>


                                        @* <i class="fa fa-trash trash btn-delete" Id="@item.Id" style="cursor: pointer;"></i>*@
                                    </td>


                                }
                                else
                                {
                                    <td>
                                        <i class="fa fa-pen pen btn-edit" Id="@item.Id" style="cursor: pointer;"></i> &nbsp;

                                    </td>
                                }
                            }
                            @if (item.CancelbtnDisable)
                            {
                                <td>
                                    <i class="fa fa-info-circle circle" style="cursor: pointer;"  value="" title="don't Cancel"></i>
                                </td>
                            }
                            else
                            {
                                <td>

                                    <i class="fa fa-times" style="cursor: pointer;"  data-toggle="modal" data-value="@item.Id"></i>

                                </td>
                            }
                            <td>@item.LeaveTypeName</td>
                            <td>@item.AppliedByUserName</td>
                            <td>@item.HrStatus</td>
                            <td>@item.ApprovedByHRUserId</td>
                            <td>@item.ApprovedByReportingStatus</td>
                            <td>@item.ApprovedByReportingUserId</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.StartTime</td>
                            <td>@item.EndTime</td>
                            <td>@item.NoOfDays</td>
                            <td>@item.PaidDays</td>
                            <td>@item.UnPaidDays</td>
                            <td>@item.Reason</td>
                           
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>