@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Req;
@model CommonResponse
@{
    AddEditTeamReqViewModel addEditTeamReqViewModel = Model.Data;
    Layout = "_MasterLayout";
    ViewBag.select2 = "true";
    string Title = addEditTeamReqViewModel.TeamLeadDetails.TeamLeadId > 0 ? "Edit Team" : "Create Team";
}

<section class="content-header"></section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                @Title
                <h3 class="card-title"></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @if (Model.Status)
                {
                    <div class="row">
                        <input id="txtTeamId" name="txtTeamId" type="hidden" class="form-control col-sm-4" value="@addEditTeamReqViewModel.TeamLeadDetails.TeamLeadId" />

                        <div class="col-sm-4" id="dddlTeamLeadId">
                            <div class="form-group">
                                <label><span class="has-error required">* </span>Team Lead</label>
                                <select id="ddlTeamLeadId" name="ddlTeamLeadId" class="form-control" isrequired="1" divcontainer="dddlTeamLeadId" errorspan="sddlTeamLeadId" defaultvalue="0" style="width: 100%;">
                                    <option value="0">--- Select ---</option>
                                    @foreach (var item in addEditTeamReqViewModel.TeamLeadList)
                                    {
                                        if (item.Id == addEditTeamReqViewModel.TeamLeadDetails.TeamLeadId)
                                        {
                                            <option value="@item.Id" selected>@item.FirstName @item.LastName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    }
                                </select>
                                <span class="help-block d-none has-error" id="sddlTeamLeadId">Please select any Team Lead</span>
                            </div>
                        </div>

                        <div class="col-sm-4" id="dddlTeamMemberId">
                            <div class="form-group">
                                <label><span class="has-error required" typeof="checkbox">* </span>Team Member</label>
                                <select id="ddlTeamMemberId" name="ddlTeamMemberId" class="form-control select2" isrequired="1" divcontainer="dddlTeamMemberId" errorspan="sddlTeamMemberId" multiple="multiple" defaultvalue="0" style="width: 100%;">
                                    <option value="0">--- Select ---</option>
                                    @if (addEditTeamReqViewModel.TeamLeadDetails.TeamLeadId > 0)
                                    {
                                            @foreach (var item in addEditTeamReqViewModel.TeamMemberList)
                                            {
                                                if(!addEditTeamReqViewModel.TeamLeadDetails.TeamMemberDetails.Any(x => x.TeamMemberId == item.Id))
                                                {
                                                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id" selected>@item.FirstName @item.LastName</option>
                                                }
                                        }
                                    }
                                    else
                                    {
                                            @foreach (var item in addEditTeamReqViewModel.TeamMemberList)
                                            {
                                                if (!addEditTeamReqViewModel.TeamLeadDetails.TeamMemberDetails.Any(x => x.TeamMemberId == item.Id))
                                                {
                                                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                }
                                            }
                                    }

                                </select>
                                <span class="help-block d-none has-error" id="sddlTeamMemberId">Please select any Team Member</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" id="btnSaveAdd" name="btnSubmit" class="btn btn-success">Submit</button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="btnCancel" name="btnCancel" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                }
                else
                {
                    <p style="color:red;">@Model.Message</p>
                }


            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/archeone/js/team/addeditteam.js?_@DateTime.Now.Ticks"></script>
}