@using ArcheOne.Models.Res;
@model List<GetTeamListResModel>
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}

<div class="row form-group">
    <div class="col-md-12">
        <table id="tblTeam" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Id</b>
                    </td>
                    <td>
                        <b>Team Lead</b>
                    </td>
                    <td>
                        <b>Team Member</b>
                    </td>
                    <td>
                        <b>Edit</b>
                    </td>
                    <td>
                        <b>Delete</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.TeamLead
                        </td>
                        <td>
                            @item.TeamName
                        </td>
                        <td>
                            <button class="btn btn-info btn-edit"  Id="@item.Id" onlclick="AddEditTeam(@item.TeamLeadId)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-delete" Id="@item.Id" onlclick="DeleteTeam(@item.TeamLeadId)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>