@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model GetTeamListResModel

@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}
<style>
    td {
        text-align: left;
    }

    thead {
        font-weight: bold;
    }
</style>

<div class="row form-group">
    <div class="col-md-12">
        <table id="tblTeam" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    @if (Model.IsEditable || Model.IsDeletable)
                    {
                        <td>
                            <b>Actions</b>
                        </td>
                    }
                    <td>
                        <b>Team Name</b>
                    </td>
                    <td>
                        <b>Team Lead</b>
                    </td>
                    <td>
                        <b>Team Member</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TeamDetails)
                {
                    <tr>
                        @if (Model.IsEditable || Model.IsDeletable)
                        {
                            <td>
                                @if (Model.IsEditable)
                                {
                                    <i class="fa fa-pen pen btn-edit" TeamLeadId="@item.Id" style="cursor: pointer;"></i>
                                }
                                @if (Model.IsDeletable) {
                                    @if (Model.IsEditable) {
                                        <span>&nbsp; | &nbsp;</span>                                        
                                    }
                                    <i class="fa fa-trash trash btn-delete" TeamLeadId="@item.Id" style="cursor: pointer;"></i>
                                }
                            </td>
                        }
                        <td>
                            @item.TeamName
                        </td>
                        <td>
                            @item.TeamLeadName
                        </td>
                        <td>
                            @item.TeamMemebersNames
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>