@{
    Layout = "_MasterLayout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Document</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Masters</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">User Document List</h3>
            <button type="button" id="AddUserDocument" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-lg" value="Add UserDocument">
                Add UserDocument
            </button>

            <div class="modal fade" id="modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add User Documents</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input id="txtId" name="txtId" type="hidden" class="form-control col-sm-4" value="" />
                        <div class="modal-body" id="dtxtPolicyName">
                            <label class="form-label">User</label>
                            <select id="ddlUser" name="ddlUser" class="form-control" isrequired="1" divcontainer="dddlUser" errorspan="sddlUser" defaultvalue="0" style="width: 100%;">
                                @* @foreach (var item in Model.RoleList)
                                {
                                if (item.Id == RoleId)
                                {
                                <option value="@item.Id" selected">@item.RoleName</option>
                                }
                                else
                                {
                                <option value="@item.Id">@item.RoleName</option>
                                }
                                }*@
                            </select>
                        </div>
                        <div class="modal-body" id="dtxtPolicyName">
                            <label class="form-label">DocumentType</label>
                            <select id="ddlDocumentType" name="ddlDocumentType" class="form-control" isrequired="1" divcontainer="dddlDocumentType" errorspan="sddlDocumentType" defaultvalue="0" style="width: 100%;">
                                @* @foreach (var item in Model.RoleList)
                                {
                                if (item.Id == RoleId)
                                {
                                <option value="@item.Id" selected">@item.RoleName</option>
                                }
                                else
                                {
                                <option value="@item.Id">@item.RoleName</option>
                                }
                                }*@
                            </select>
                        </div>
                        <div class="modal-body" id="dtxtPolicyName">
                            <label class="form-label">Document</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                               @* <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>*@
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>

                </div>

        </div>
        <div class="card-body">
            <div id="divPolicyList">
            </div>
        </div>
    </div>
</section>

@section Scripts{
    
}