@using ArcheOne.Models.Res;
@model GetHolidayListResModel
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}
<style>
    td {
        text-align: left;
    }

    thead {
        font-weight: bold;
    }
</style>

<div class="row form-group">
    <div class="col-md-12">
        <table id="tblHoliday" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    @if (Model.IsEditable || Model.IsDeletable)
                    {
                        <td>
                            <b>Action</b>
                        </td>
                    }
                    <td>
                        <b>Holiday Name</b>
                    </td>
                    <td>
                        <b>Date</b>
                    </td>
                    <td>
                        <b>Day</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HolidayDetails)
                {
                    <tr>
                        @if (Model.IsEditable || Model.IsDeletable)
                        {
                            <td>
                                @if (Model.IsEditable)
                                {
                                    <i class="fa fa-pen pen btn-edit" Id="@item.Id" style="cursor: pointer;"></i>
                                }
                                @if (Model.IsDeletable)
                                {
                                    if (@Model.IsEditable)
                                    {
                                        <span>&nbsp;|&nbsp;</span>
                                    }
                                    <i class="fa fa-trash trash btn-delete" Id="@item.Id" style="cursor: pointer;"></i>
                                }<i class="fa fa-pen pen btn-edit" Id="@item.Id" style="cursor: pointer;"></i>
                            </td>
                        }
                        <td>
                            @item.HolidayName
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.Day
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>