@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model AddEditAppraisalResModel

@{
    Layout = "_MasterLayout";
    string Title = Model.Id > 0 ? "Edit Appraisal" : "Create Appraisal";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Appraisal</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">HR</a></li>
                    <li class="breadcrumb-item active">Appraisal</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                @Title
                <h3 class="card-title"></h3>
                <div class="card-body">

                    <div class="row">
                        <input id="txtAppraisalId" name="txtAppraisalId" type="hidden" class="form-control col-sm-4" value="@Model.Id" />


                        <div class="col-sm-4" id="dddlEmployeeId">
                            <div class="form-group">
                                <label><span class="has-error required">* </span>Employee Name</label>
                                <select id="ddlEmployeeId" name="ddlEmployeeId" class="form-control" isrequired="1" divcontainer="dddlEmployeeId" errorspan="sddlEmployeeId" defaultvalue="0" style="width: 100%;">
                                    <option value="0">Select Employee</option>
                                    @foreach (var item in Model.EmployeeId)
                                    {
                                        if (item.Id == Model.reportingManagetDetail.EmployeeDetail.EmployeeId)
                                        {
                                            <option value="@item.Id" selected>@item.FirstName @item.LastName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    }

                                </select>
                                <span class="help-block d-none has-error" id="sddlEmployeeId">Please select any Employee</span>
                            </div>
                        </div>

                        <div class="col-sm-4" id="dddlReportingManagerId">
                            <div class="form-group">
                                <label><span class="has-error required">* </span>Reporting Manager</label>
                                <select id="ddlReportingManagerId" name="ddlReportingManagerId" class="form-control" isrequired="1" divcontainer="dddlReportingManagerId" errorspan="sddlReportingManagerId" defaultvalue="0" style="width: 100%;">
                                    <option value="0">Select Reporting Manager</option>
                                    @foreach (var item in Model.ReportingManagerId)
                                    {
                                        if (item.Id == Model.reportingManagetDetail.ReportingManagerId)
                                        {
                                            <option value="@item.Id" selected>@item.FirstName @item.LastName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                        }
                                    }

                                </select>
                                <span class="help-block d-none has-error" id="sddlReportingManagerId">Please select any Reporting Manager</span>
                            </div>
                        </div>

                        <div class="col-sm-4" id="dtxtYear">
                            <div class="form-group">
                                <label class="form-label"><span class="has-error required">* </span>Year</label>
                                <input id="txtYear" type="text" name="Year" class="form-control text-length"  placeholder="e.g.2020-2021" value="@Model.Year" isrequired="1" divcontainer="dtxtYear" errorspan="stxtYear" defaultvalue="" autocomplete="off" minlength="2">
                                <span class="help-block d-none has-error" id="stxtYear">Please Enter Valid Year</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                @if (Title == "Edit Appraisal")
                {
                    <input type="button" id="btnSaveAdd" name="btnSubmit" class="btn btn-warning float-right ml-1" value="Update" />
                }
                else
                {
                    <input type="button" id="btnSaveAdd" name="btnSubmit" class="btn btn-success float-right ml-1" value="Submit" />
                }
                <input type="button" id="btnCancel" name="btnCancel" class="btn btn-danger float-right" value="Cancel" />

            </div>

        </div>
</section>

@section Scripts {
    <script src="~/archeone/js/appraisal/addeditappraisal.js?_@DateTime.Now.Ticks"></script>
}