@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model List<GetAppraisalListResModel>
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}
<style>
    td {
        text-align: left;
    }

    thead {
        font-weight: bold;
    }
</style>


<div class="row form-group">

    <div class="col-md-12">

        <table id="tblAppraisal" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Action</b>
                    </td>
                    <td>
                        <b>Employee Name</b>
                    </td>
                    <td>
                        <b>ReportingManager Name</b>
                    </td>
                    <td>
                        <b>Year</b>
                    </td>
                    <td>
                        <b>Appraisal Status</b>
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.IsEditable)
                            {
                                @if (item.IsUserHR == true)
                                {
                                    <i class="fa fa-pen pen btn-edit" Id="@item.Id" style="cursor: pointer;"> | </i>

                                    <i class="fa fa-trash trash btn-delete" Id="@item.Id" style="cursor: pointer;"> | </i>

                                    <i class="fa fa-info-circle circle btn-info" Id="@item.Id" style="cursor: pointer;"></i>

                                }
                                else
                                {
                                    <i class="fa fa-info-circle circle btn-info" Id="@item.Id" style="cursor: pointer;"></i>

                                }
                            }
                            else
                            {
                                <i class="fa fa-info-circle circle btn-info" style="cursor: pointer;" title="Your appraisal is completed"></i>
                            }
                        </td>
                        <td>
                            @item.EmployeeName
                        </td>
                        <td>
                            @item.ReportingManagerName
                        </td>
                        <td>
                            @item.Year
                        </td>
                        <td>
                            @item.AppraisalStaus
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@*
@section Scripts {
    <script src="~/archeone/js/appraisal/appraisal.js?_@DateTime.Now.Ticks"></script>
}*@