@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model List<GetAppraisalListResModel>
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}
<style>
    td {
        text-align: left;
    }

    thead {
        font-weight: bold;
    }

    icondisable {
        color: #125fb2;
    }
</style>


<div class="row form-group">

    <div class="col-md-12">

        <table id="tblAppraisal" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Action</b>
                    </td>
                    <td>
                        <b>Employee Name</b>
                    </td>
                    <td>
                        <b>ReportingManager Name</b>
                    </td>
                    <td>
                        <b>Year</b>
                    </td>
                    <td>
                        <b>Appraisal Status</b>
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.IsEditable)
                            {
                                @if (item.IsUserHR == true)
                                {
                                    if (item.IsHRManagerEditable)
                                    {
                                      @*  <i class="fa fa-info-circle" value="" title="Your appraisal is completed"></i>

                                        <i class="fa fa-trash trash btn-delete" Id="@item.Id"> | </i>*@

                                        <i class="fa fa-info-circle circle" Id="@item.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-pen pen btn-edit" Id="@item.Id"> | </i>

                                        <i class="fa fa-trash trash btn-delete" Id="@item.Id"> | </i>

                                        <i class="fa fa-info-circle circle" Id="@item.Id"></i>
                                    }

                                }
                                else
                                {
                                    @if (item.IsManagerEditable)
                                    {
                                        <i class="fa fa-info-circle circle" Id="@item.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-info-circle" disabled="disabled" value="" title="After completing the first employee appraisal, you will add the appraisal for the employee."></i>
                                    }

                                }
                            }
                            else
                            {
                                <i class="fa fa-info-circle" value="" title="Your appraisal is completed"></i>
                            }
                        </td>
                        <td>
                            @item.EmployeeName
                        </td>
                        <td>
                            @item.ReportingManagerName
                        </td>
                        <td>
                            @item.Year
                        </td>
                        <td>
                            @item.AppraisalStaus
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@*
@section Scripts {
    <script src="~/archeone/js/appraisal/appraisal.js?_@DateTime.Now.Ticks"></script>
}*@