@using ArcheOne.Models.Res;
@model List<SalesConatactPersonListResViewModel>


@{
    ViewBag.datatable = "true";
    Layout = "_BlankLayout";
   
}
<div class="row form-group">
    <div class="col-md-12">
        <table id="tblSalesConatactLead" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    @* <td>
                    <b>Id</b>
                    </td>*@
                    <td>
                        <b>SalesLeadId</b>
                    </td>
                    <td>
                        <b> FirstName </b>
                    </td>
                    <td>
                        <b>LastName</b>
                    </td>
                    <td>
                        <b>Email</b>
                    </td>
                    <td>
                        <b>Mobile1</b>
                    </td>
                    <td>
                        <b>Mobile2</b>
                    </td>
                    <td>
                        <b>Designation</b>
                    </td>
                   
                    <td>
                        <b>Linkedinurl</b>
                    </td>
                    <td>
                        <b>Edit</b>
                    </td>
                    <td>
                        <b>Delete</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @* <td>
                    @item.Id
                    </td>*@
                        <td>
                            @item.SalesLeadId
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Mobile1
                        </td>
                        <td>
                            @item.Mobile2
                        </td>
                        <td>
                            @item.Designation
                        </td>

                        <td>
                            @item.Linkedinurl
                        </td>
                       

                        <td>
                            @*   <button class="btn btn-info btn-edit" OrganizationId="@item.Id" onlclick="AddEditOrganization(@item.Id);">Edit</button>*@
                            <button class="btn btn-info btn-edit" Id="@item.Id">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-delete" Id="@item.Id" onlclick="DeleteOrganization(@item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

