@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model CommonResponse
@{
    Layout = "_MasterLayout";
    ViewBag.select2 = "true";
    ViewBag.ckeditor = "true";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Requirement</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">HR</a></li>
                    <li class="breadcrumb-item active">Add Requirements</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        @if (Model.Status)
        {
            AddEditRequirementResModel addEditRequirementResModel = Model.Data;
            <div class="card-header">
                <h3 class="card-title"><b>Add Requirement</b></h3>
                <div class="float-right">
                    <label class="form-label">Is Active</label> &nbsp;
                    @if (addEditRequirementResModel.RequirementDetail.IsActive || addEditRequirementResModel.RequirementDetail.RequirementId == 0)
                    {
                        <input type="checkbox" id="chkIsActive" name="chkIsActive" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="chkIsActive" name="chkIsActive" />
                    }
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" id="txtRequirementId" name="txtRequirementId" value="@addEditRequirementResModel.RequirementDetail.RequirementId" />

                <div class="row">
                    <div class="col-md-3">

                        <div class="form-group" id="dddlClients">
                            <label class="form-label"><span class="has-error required">* </span>Client</label>
                            <select id="ddlClients" name="ddlClients" class="form-control" isRequired="1" divcontainer="dddlClients" errorspan="sddlClients" defaultvalue="0">
                                <option value="0">Select</option>
                                @foreach (var item in addEditRequirementResModel.ClientList)
                                {
                                    if (item.Id == addEditRequirementResModel.RequirementDetail.ClientId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlClients">Please Select Client</span>
                        </div>

                        <div class="form-group" id="dddlRequirementFor">
                            <label class="form-label"><span class="has-error required">* </span>Requirement For</label>
                            <select id="ddlRequirementFor" name="ddlRequirementFor" class="form-control select2" isRequired="1" divcontainer="dddlRequirementFor" errorspan="sddlRequirementFor" defaultvalue="0">
                                <option value="0">Select</option>
                                @foreach (var item in addEditRequirementResModel.RequirementForList)
                                {
                                    if (item.Id == addEditRequirementResModel.RequirementDetail.RequirementForId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlRequirementFor">Please Select Requirement For</span>
                        </div>

                        <div class="form-group" id="dddlPositionType">
                            <label class="form-label"><span class="has-error required">* </span>Position Type</label>
                            <select id="ddlPositionType" name="ddlPositionType" class="form-control select2" isRequired="1" divcontainer="dddlPositionType" errorspan="sddlPositionType" defaultvalue="0">
                                <option value="0">Select</option>
                                @foreach (var item in addEditRequirementResModel.PositionTypeList)
                                {
                                    if (item.Id == addEditRequirementResModel.RequirementDetail.PositionTypeId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlPositionType">Please Select Position Type</span>
                        </div>

                        <div class="form-group" id="dddlRequirementType">
                            <label class="form-label"><span class="has-error required">* </span>Requirement Type</label>
                            <select id="ddlRequirementType" name="ddlRequirementType" class="form-control select2" isRequired="1" divcontainer="dddlRequirementType" errorspan="sddlRequirementType" defaultvalue="0">
                                <option value="0">Select</option>
                                @foreach (var item in addEditRequirementResModel.RequirementTypeList)
                                {
                                    if (item.Id == addEditRequirementResModel.RequirementDetail.RequirementTypeId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlRequirementType">Please Select Requirement Type</span>
                        </div>

                        <div class="form-group" id="dddlEmploymentType">
                            <label class="form-label"><span class="has-error required">* </span>Employment Type</label>
                            <select id="ddlEmploymentType" name="ddlEmploymentType" class="form-control select2" isRequired="1" divcontainer="dddlEmploymentType" errorspan="sddlEmploymentType" defaultvalue="0">
                                <option value="0">Select</option>
                                @foreach (var item in addEditRequirementResModel.EmploymentTypeList)
                                {
                                    if (item.Id == addEditRequirementResModel.RequirementDetail.EmploymentTypeId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlEmploymentType">Please Select Employment Type</span>
                        </div>

                        <div class="form-group" id="dddlRequirementStatus">
                            <label class="form-label"><span class="has-error required d-none">* </span>Requirement Status</label>
                            <select id="ddlRequirementStatus" name="ddlRequirementStatus" class="form-control select2" isRequired="1" divcontainer="dddlRequirementStatus" errorspan="sddlRequirementStatus" defaultvalue="0">
                                @foreach (var item in addEditRequirementResModel.RequirementStatusList)
                                {
                                    if (item.Id == addEditRequirementResModel.RequirementDetail.RequirementStatusId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span class="help-block d-none has-error" id="sddlRequirementStatus">Please Select Requirement Status</span>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <center>
                            <div class="vr" style="height: 500px; outline-style: solid; color: gray; width:0px;">
                            </div>
                        </center>
                    </div>
                    <div class="col-md-8">
                        <div class="row form-group">
                            <div class="col-md-2" id="dtxtJobCode">
                                <label class="form-label"><span class="has-error required">* </span>Job Code</label>
                                <input type="text" id="txtJobCode" name="txtJobCode" class="form-control" isRequired="1" divcontainer="dtxtJobCode" errorspan="stxtJobCode" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.JobCode" readonly/>
                                <span class="help-block d-none has-error" id="stxtJobCode">Please Enter Job Code</span>
                            </div>

                            <div class="col-md-5" id="dtxtMainSkills">
                                <label class="form-label"><span class="has-error required">* </span>Main Skills</label>
                                <input type="text" id="txtMainSkills" name="txtMainSkills" class="form-control" isRequired="1" divcontainer="dtxtMainSkills" errorspan="stxtMainSkills" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.MainSkill" />
                                <span class="help-block d-none has-error" id="stxtMainSkills">Please Enter Main Skills</span>
                            </div>

                            <div class="col-md-5" id="dtxtMandatorySkills">
                                <label class="form-label"><span class="has-error required">* </span>Mandatory Skills</label>
                                <input type="text" id="txtMandatorySkills" name="txtMandatorySkills" class="form-control" isRequired="1" divcontainer="dtxtMandatorySkills" errorspan="stxtMandatorySkills" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.MandatorySkills" />
                                <span class="help-block d-none has-error" id="stxtMandatorySkills">Please Enter Mandatory Skills</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12" id="dtxtJobDescription">
                                <label class="form-label"><span class="has-error required d-none">* </span>Job Description</label>
                                <textarea id="txtJobDescription" name="txtJobDescription" class="form-control" isRequired="0" divcontainer="dtxtJobDescription" errorspan="stxtJobDescription" defaultvalue="" style="height: 123px;">@addEditRequirementResModel.RequirementDetail.JobDescription </textarea>
                                <span class="help-block d-none has-error" id="stxtJobDescription">Please Enter Job Description</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-3" id="dtxtTotalMinExperience">
                                <label class="form-label"><span class="has-error required">* </span>Total Min Exp.</label>
                                <input type="text" id="txtTotalMinExperience" name="txtTotalMinExperience" class="form-control" isRequired="1" divcontainer="dtxtTotalMinExperience" errorspan="stxtTotalMinExperience" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.TotalMinExperience" />
                                <span class="help-block d-none has-error" id="stxtTotalMinExperience">Please Enter Total Min Experience</span>
                            </div>
                            <div class="col-md-3" id="dtxtTotalMaxExperience">
                                <label class="form-label"><span class="has-error required">* </span>Total Max Exp.</label>
                                <input type="text" id="txtTotalMaxExperience" name="txtTotalMaxExperience" class="form-control" isRequired="1" divcontainer="dtxtTotalMaxExperience" errorspan="stxtTotalMaxExperience" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.TotalMaxExperience" />
                                <span class="help-block d-none has-error" id="stxtTotalMaxExperience">Please Enter Total Max Experience</span>
                            </div>
                            <div class="col-md-3" id="dtxtRelevantMinExperience">
                                <label class="form-label"><span class="has-error required">* </span>Relevant Min Exp.</label>
                                <input type="text" id="txtRelevantMinExperience" name="txtRelevantMinExperience" class="form-control" isRequired="1" divcontainer="dtxtRelevantMinExperience" errorspan="stxtRelevantMinExperience" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.RelevantMinExperience" />
                                <span class="help-block d-none has-error" id="stxtRelevantMinExperience">Please Enter Relevant Min Experience</span>
                            </div>
                            <div class="col-md-3" id="dtxtRelevantMaxExperience">
                                <label class="form-label"><span class="has-error required">* </span>Relevant Max Exp.</label>
                                <input type="text" id="txtRelevantMaxExperience" name="txtRelevantMaxExperience" class="form-control" isRequired="1" divcontainer="dtxtRelevantMaxExperience" errorspan="stxtRelevantMaxExperience" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.RelevantMaxExperience" />
                                <span class="help-block d-none has-error" id="stxtRelevantMaxExperience">Please Enter Relevant Max Experience</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-3" id="dtxtNoOfPosition">
                                <label class="form-label"><span class="has-error required">* </span>No Of Position</label>
                                <input type="text" id="txtNoOfPosition" name="txtNoOfPosition" class="form-control" isRequired="1" divcontainer="dtxtNoOfPosition" errorspan="stxtNoOfPosition" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.NoOfPosition" />
                                <span class="help-block d-none has-error" id="stxtNoOfPosition">Please Enter No Of Position</span>
                            </div>
                            <div class="col-md-3" id="dtxtLocation">
                                <label class="form-label"><span class="has-error required d-none">* </span>Location</label>
                                <input type="text" id="txtLocation" name="txtLocation" class="form-control" isRequired="0" divcontainer="dtxtLocation" errorspan="stxtLocation" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.Location" />
                                <span class="help-block d-none has-error" id="stxtLocation">Please Enter Location</span>
                            </div>
                            <div class="col-md-6" id="dddlAssignedUsers">
                                <label class="form-label"><span class="has-error required d-none">* </span>Assign Users</label>
                                <select id="ddlAssignedUsers" name="ddlAssignedUsers" class="form-control select2" isRequired="0" divcontainer="dddlAssignedUsers" errorspan="sddlAssignedUsers" defaultvalue="0" multiple="multiple">
                                    @foreach (var item in addEditRequirementResModel.UserList)
                                    {
                                        if (addEditRequirementResModel.RequirementDetail.AssignedUserIds.Contains(item.Id))
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span class="help-block d-none has-error" id="sddlAssignedUsers">Please Select Users</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-3" id="dtxtEndClient">
                                <label class="form-label"><span class="has-error required d-none">* </span>End Client</label>
                                <input type="text" id="txtEndClient" name="txtEndClient" class="form-control" isRequired="0" divcontainer="dtxtEndClient" errorspan="stxtEndClient" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.EndClient" />
                                <span class="help-block d-none has-error" id="stxtEndClient">Please Enter End Client</span>
                            </div>
                            <div class="col-md-3" id="dtxtPOCName">
                                <label class="form-label"><span class="has-error required d-none">* </span>POC Name</label>
                                <input type="text" id="txtPOCName" name="txtPOCName" class="form-control" isRequired="0" divcontainer="dtxtPOCName" errorspan="stxtPOCName" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.Pocname" />
                                <span class="help-block d-none has-error" id="stxtPOCName">Please Enter POC Name</span>
                            </div>
                            <div class="col-md-3" id="dtxtClientBillRate">
                                <label class="form-label"><span class="has-error required d-none">* </span>Client Bill Rate</label>
                                <input type="text" id="txtClientBillRate" name="txtClientBillRate" class="form-control" isRequired="0" divcontainer="dtxtClientBillRate" errorspan="stxtClientBillRate" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.ClientBillRate" />
                                <span class="help-block d-none has-error" id="stxtClientBillRate">Please Enter Client Bill Rate</span>
                            </div>
                            <div class="col-md-3" id="dtxtCandidatePayRate">
                                <label class="form-label"><span class="has-error required d-none">* </span>Candidate Pay Rate</label>
                                <input type="text" id="txtCandidatePayRate" name="txtCandidatePayRate" class="form-control" isRequired="0" divcontainer="dtxtCandidatePayRate" errorspan="stxtCandidatePayRate" defaultvalue="" value="@addEditRequirementResModel.RequirementDetail.CandidatePayRate" />
                                <span class="help-block d-none has-error" id="stxtCandidatePayRate">Please Enter Candidate Pay Rate</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                @if (addEditRequirementResModel.RequirementDetail.RequirementId == 0)
                {
                    <input type="button" id="btnSaveUpdateRequirement" name="btnSaveUpdateRequirement" class="btn btn-success float-right ml-1" value="Save" />
                }
                else
                {
                    <input type="button" id="btnSaveUpdateRequirement" name="btnSaveUpdateRequirement" class="btn btn-success float-right ml-1" value="Update" />
                }
                <input type="button" id="btnCancelRequirement" name="btnCancelRequirement" class="btn btn-danger float-right" value="Cancel" />
            </div>
        }
        else
        {
            <p style="color:red">@Model.Message</p>
        }
    </div>
</section>

@section Scripts{
    <script src="~/archeone/js/requirement/addeditrequirement.js"></script>
}
