@using ArcheOne.Helper.CommonHelpers;
@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@inject CommonHelper CommonHelperInstance
@model CommonResponse
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
    ViewBag.select2 = "true";

    List<IndexDashboardResModel> permissionList = CommonHelperInstance.GetPermissionList();
}
<style>
    td {
        text-align: center;
    }

    thead {
        font-weight: bold;
    }
</style>
<div class="row form-group">
    <div class="col-md-12">
        @if (Model.Status)
        {
            List<RequirementListModel> list = Model.Data.RequirementList;
            <table id="tblRequirement" class="table table-responsive table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <td>Actions</td>
                        <td>Status</td>
                        <td>Id</td>
                        <td>Job Code</td>
                        <td>Client Name</td>
                        <td>Main Skills</td>
                        <td>Mandatory Skills</td>
                        <td>Total Min Experience</td>
                        <td>Total Max Experience</td>
                        <td>Relevant Min Experience</td>
                        <td>Relevant Max Experience</td>
                        <td>No Of Position</td>
                        <td>Location</td>
                        <td>Is Active</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in list)
                    {
                        <tr style="white-space:nowrap;">
                            <td>
                                <i class="fa fa-file-word btn-resumes" RequirementId="@item.RequirementId" style="cursor: pointer; color:darkblue"></i>
                                @if (permissionList.Any(x => x.PermissionCode.Contains(CommonEnums.PermissionMst.Requirements_Edit.ToString())))
                                {
                                    <span>|</span>
                                    <i class="fa fa-pen pen btn-edit" RequirementId="@item.RequirementId" style="cursor: pointer;"></i>
                                }
                                @if (permissionList.Any(x => x.PermissionCode.Contains(CommonEnums.PermissionMst.Requirements_Delete.ToString())))
                                {
                                    <span>|</span>
                                    <i class="fa fa-trash trash btn-delete" RequirementId="@item.RequirementId" style="cursor: pointer;"></i>
                                }
                            </td>
                            <td>
                                @if (permissionList.Any(x => x.PermissionCode.Contains(CommonEnums.PermissionMst.Requirements_Edit.ToString())))
                                {
                                    <select id="ddlRequirementStatus" name="ddlRequirementStatus" class="form-control select2 ddl-status" isRequired="1" divcontainer="dddlRequirementStatus" errorspan="sddlRequirementStatus" defaultvalue="0" style="width:110px;" requirementId="@item.RequirementId">
                                        @foreach (var statusItem in Model.Data.RequirementStatusList)
                                        {
                                            if (statusItem.Id == item.RequirementStatusId)
                                            {
                                                <option value="@statusItem.Id" selected>@statusItem.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@statusItem.Id">@statusItem.Name</option>
                                            }
                                        }
                                    </select>
                                } else
                                {
                                    foreach (var statusItem in Model.Data.RequirementStatusList)
                                    {
                                        if (statusItem.Id == item.RequirementStatusId)
                                        {
                                            <span>@statusItem.Name</span>
                                        }
                                    }
                                }
                            </td>
                            <td>@item.RequirementId</td>
                            <td>@item.JobCode</td>
                            <td>@item.ClientName</td>
                            <td>@item.MainSkill</td>
                            <td>@item.MandatorySkills</td>
                            <td>@item.TotalMinExperience</td>
                            <td>@item.TotalMaxExperience</td>
                            <td>@item.RelevantMinExperience</td>
                            <td>@item.RelevantMaxExperience</td>
                            <td>@item.NoOfPosition</td>
                            <td>@item.Location</td>
                            <td>@item.IsActive</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p style="color:red">@Model.Message</p>
        }
    </div>
</div>