@model ArcheOne.Models.Req.RequirementReqModel
@inject IHttpContextAccessor HttpContextAccessor
@{

}

<section class="content-header"></section>
<section class="content">
	<div class="container-fluid">
		<div class="card card-outline card-primary">
			<div class="card-header">
				Add Requirement
				<h3 class="card-title"></h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<form id="contact-form" method="post" role="form" enctype="multipart/form-data" asp-action="User" asp-controller="User">
					<div class="messages"></div>
					<div class="controls">
					@*	<div class="row">*@
							@*<div class="col-sm-4" id="dtxtPhotoUrl">
								<div class="form-group">
									<div class="form-group">
										<label for="form_name">Photo *</label>
										<img id="photoUrl" style="width:75px!important" name="photoUrl" />
										<div class="input-group">
											<div class="custom-file">
												<input id="txtPhotoUrl" type="file" name="PhotoUrl" isrequired="1" divcontainer="dtxtPhotoUrl" errorspan="stxtPhotoUrl" defaultvalue="" autocomplete="off" minlength="2" class="custom-file-input text-length" onchange="loadFile(event)" accept="image/*" />
												<label class="custom-file-label" for="form_file">Choose file</label>
											</div>
										</div>
									</div>
									<span class="help-block d-none has-error" id="stxtPhotoUrl" asp-validation-for="PhotoUrl">Please select any file</span>
								</div>*@
							@*</div>
						</div>*@
						<div class="row">
							<div class="col-sm-4" id="ddlCompanyId">
								<div class="form-group">
									@Html.Label("Client")
									@Html.DropDownList("ddlClientId", new SelectList(@ViewBag.Client, "Id", "ClientName"), htmlAttributes: new { @class = "form-control", @id = "ddlClientId", @isrequired="1", @divcontainer="ddlClientId", @defaultvalue="0"} )
									<span class="help-block d-none has-error" id="sddlCompanyId">Please select any company</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtJobRole">
								<div class="form-group">
								<label for="form_name">Job Code</label>
								<input id="txtJobCode" type="text" name="JobRole" class="form-control text-length" placeholder="Please enter your JobCode" isrequired="1" divcontainer="dtxtJobCode" errorspan="stxtJobCode" defaultvalue="" autocomplete="off" minlength="2">
								<span class="help-block d-none has-error" id="stxtJobCode" asp-validation-for="JobCode">Please Enter Valid Job Code</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtMainSkill">
								<div class="form-group">
									<label for="form_name">Main Skill</label>
									<input id="txtMainSkill" type="text" name="MainSKill" class="form-control text-length" placeholder="Please enter your MainSKill" isrequired="1" divcontainer="dtxtMainSkill" errorspan="stxtMainSkill" defaultvalue="" autocomplete="off" minlength="2">
									<span class="help-block d-none has-error" id="stxtFirstName" asp-validation-for="MainSkill">Please Enter Valid MainSkill</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtNumberOfPosition">
								<div class="form-group">
									<label for="form_name">Number Of Position</label>
									<input id="txtNoofPosition" type="text" name="NumberOfPosition" class="form-control text-length" placeholder="Please enter your Number Of Position *" isrequired="1" divcontainer="dtxtNoOfPosition" errorspan="stxtNoOfPosition" defaultvalue="" autocomplete="off" minlength="2">
									<span class="help-block d-none has-error" id="stxtNumberOfPosition" asp-validation-for="NoofPosition">Please Enter Valid Number Of Position</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtLocation">
								<div class="form-group">
									<label for="form_name">Location *</label>
									<input id="txtLocation" type="text" name="Location" class="form-control text-length" placeholder="Please enter your Location *" autocomplete="off" isrequired="1" divcontainer="dtxtLocation" errorspan="stxtLocation" defaultvalue="" minlength="2">
									<span class="help-block d-none has-error" id="stxtLocation" asp-validation-for="Location">Please Enter Valid Location</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtEndClient">
								<div class="form-group">
									<label for="form_name">End Client *</label>
									<input id="txtEndClient" type="text" name="EndClient" class="form-control text-length" placeholder="Please enter your EndClient *" isrequired="1" divcontainer="dtxtEndClient" errorspan="stxtEndClient" defaultvalue="" autocomplete="off" minlength="2">
									<span class="help-block d-none has-error" id="stxtEndClient" asp-validation-for="EndClient">Please Enter Valid EndClient</span>
								</div>
							</div>
						<div class="col-sm-4" id="dtxtTotalMinimumExperience">
							<div class="form-group">
								<label for="form_name">Total Minimum Experience *</label>
								<input id="txtTotalMinimumExperience" type="text" name="TotalMinimumExperience" class="form-control text-length" placeholder="Please enter your TotalMinimumExperience *" autocomplete="off" isrequired="1" divcontainer="dtxtTotalMinimumExperience" errorspan="stxtTotalMinimumExperience" defaultvalue="" minlength="2">
								<span class="help-block d-none has-error" id="stxtTotalMinimumExperience" asp-validation-for="TotalMinExperience">Please Enter Valid TotalMinimumExperience</span>
							</div>
						</div>
						<div class="col-sm-4" id="dtxtTotalMaxExperience">
								<div class="form-group">
									<label for="form_name">Total Maximum Experience *</label>
								<input id="txtTotalMaxExperience" type="text" name="TotalMaxExperience" class="form-control text-length" placeholder="Please enter your TotalMaxExperience *" isrequired="1" divcontainer="dtxtTotalMaxExperience" errorspan="stxtTotalMaxExperience" defaultvalue="" autocomplete="off" minlength="2">
								<span class="help-block d-none has-error" id="stxtTotalMaxExperience" asp-validation-for="TotalMaxExperience">Please Enter Valid TotalMaxExperience</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtRelevantMinExperience">
								<div class="form-group">
								<label for="form_name">Relevant Minimum Experience *</label>
								<input id="txtRelevantMinExperience" type="text" name="RelevantMinExperience" class="form-control text-length" placeholder="Please enter your RelevantMinExperience *" isrequired="1" divcontainer="RelevantMinExperience" errorspan="stxtRelevantMinExperience" defaultvalue="" autocomplete="off" minlength="2">
								<span class="help-block d-none has-error" id="stxtRelevantMinExperience" asp-validation-for="RelevantMinExperience">Please Enter Valid RelevantMinExperience</span>
								</div>
							</div>
						<div class="col-sm-4" id="dtxtRelevantMaxExperience">
								<div class="form-group">
									<label for="form_name">Relevant Maximum Experience</label>
								<input id="txtRelevantMaxExperience" type="tel" name="RelevantMaxExperience" class="form-control text-length" placeholder="Please enter your RelevantMaxExperience" isrequired="1" divcontainer="dtxtRelevantMaxExperience" errorspan="stxtRelevantMaxExperience" defaultvalue="" autocomplete="off" minlength="2">
								<span class="help-block d-none has-error" id="stxtRelevantMaxExperience" asp-validation-for="RelevantMaxExperience">Please Enter Valid RelevantMaxExperience</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtBillRate">
								<div class="form-group">
									<label for="form_mobile1">Bill rate*</label>
								<input id="txtBillRate" type="tel" name="BillRate" class="form-control text-length" placeholder="Please enter your Bill Rate" isrequired="1" divcontainer="dtxtBillRate" errorspan="stxtBillRate" defaultvalue="" autocomplete="off" minlength="2">
								<span class="help-block d-none has-error" id="stxtBillRate" asp-validation-for="BillRate">Please Enter Valid BillRate</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtPayRate">
								<div class="form-group">
									<label for="form_PayRate">Pay Rate</label>
								<input id="txtPayRate" type="PayRate" name="PayRate" class="form-control text-length" placeholder="Please enter your Pay Rate" isrequired="1" divcontainer="dtxtPayRate" errorspan="stxtPayRate" defaultvalue="" autocomplete="off" minlength="2">
								<span class="help-block d-none has-error" id="stxtEmail" asp-validation-for="PayRate">Please Enter Valid PayRate</span>
								</div>
							</div>
							<div class="col-sm-4" id="ddlPositionId">
								<div class="form-group">
									@Html.Label("Select Position")
									@Html.DropDownList("ddlPositionId", new SelectList(@ViewBag.Client, "Id", "PositionName"), htmlAttributes: new { @class = "form-control", @id = "ddlPositionId", @isrequired="1", @divcontainer="ddlPositionId", @defaultvalue="0"} )
									<span class="help-block d-none has-error" id="sddlPositionId">Please select any Position</span>
								</div>
							</div>
							<div class="col-sm-4" id="ddlRequirementTypeId">
								<div class="form-group">
									@Html.Label("Requirement Type")
									@Html.DropDownList("ddlRequirementTypeId", new SelectList(@ViewBag.Client, "Id", "RequirementTypeName"), htmlAttributes: new { @class = "form-control", @id = "ddlRequirementTypeId", @isrequired="1", @divcontainer="ddlRequirementTypeId", @defaultvalue="0"} )
									<span class="help-block d-none has-error" id="sddlRequirementTypeId">Please select any Requirement Type</span>
								</div>
							</div>
							<div class="col-sm-4" id="ddlRequirementForId">
								<div class="form-group">
									@Html.Label("Requirement For")
									@Html.DropDownList("ddlRequirementForId", new SelectList(@ViewBag.Client, "Id", "RequirementForName"), htmlAttributes: new { @class = "form-control", @id = "ddlRequirementForId", @isrequired="1", @divcontainer="ddlRequirementForId", @defaultvalue="0"} )
									<span class="help-block d-none has-error" id="sddlRequirementForId">Please select any Requirement For</span>
								</div>
							</div>
							<div class="col-sm-4" id="ddlTypeOfEmployment">
								<div class="form-group">
									@Html.Label("Type Of Employment")
									@Html.DropDownList("ddlTypeOfEmployment", new SelectList(@ViewBag.Client, "Id", "TypeOfEmployment"), htmlAttributes: new { @class = "form-control", @id = "ddlTypeOfEmploymentId", @isrequired="1", @divcontainer="ddlTypeOfEmploymentId", @defaultvalue="0"} )
									<span class="help-block d-none has-error" id="sddlTypeOfEmployment">Please select any Employment Type</span>
								</div>
							</div>
							<div class="col-sm-4" id="dtxtPOCName">
								<div class="form-group">
									<label for="form_email">POC Name</label>
									<input id="txtPayRate" type="PayRate" name="PayRate" class="form-control text-length" placeholder="Please enter your Pay Rate" isrequired="1" divcontainer="dtxtPayRate" errorspan="stxtPayRate" defaultvalue="" autocomplete="off" minlength="2">
									<span class="help-block d-none has-error" id="stxtEmail" asp-validation-for="PayRate">Please Enter Valid PayRate</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-1">
							<button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-success">Submit</button>
						</div>
						<div class="col-md-1">
							<input type="submit" class="btn btn-danger btn-send" value="Cancel">
						</div>
					</div>
					@if (ViewBag.Message != null)
					{
						<script type="text/javascript">
							window.onload = function () {
								alert("@ViewBag.Message");
							};
						</script>
					}
				</form>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script type="text/javascript">
		var loadFile = function (event) {
			var reader = new FileReader();
			reader.onload = function () {
				var output = document.getElementById('photoUrl');
				output.src = reader.result;
			};
			reader.readAsDataURL(event.target.files[0]);
		};
	</script>
	<script src="~/archeone/js/user/user.js"></script>
}

