@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model CommonResponse
@{
    Layout = "_MasterLayout";
    ViewBag.datatable = "true";
    SalesLeadAddEditResModel salesLeadAddEditResModel = Model.Data;
    int ContactPersonCount = 1;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Leads</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sales Lead</a></li>
                    <li class="breadcrumb-item active">Add Lead</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add Lead</h3>
        </div>
        <div class="card-body">
            <div id="divSalesLead">
                <div class="row form-group">
                    <input id="txtSalesLeadId" name="txtSalesLeadId" type="hidden" value="@salesLeadAddEditResModel.salesLeadDetail.SalesLeadId" />
                    <div class="col-md-3" id="dtxtOrganizationName">
                        <label><span class="has-error required">* </span>Organization Name</label>
                        <input id="txtOrganizationName" name="txtOrganizationName" type="text" class="form-control txtCapitalize text-length" placeholder="Organization Name" value="@salesLeadAddEditResModel.salesLeadDetail.OrgName" isrequired="1" divcontainer="dtxtOrganizationName" errorspan="stxtOrganizationName" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtOrganizationName">Please Enter Valid Organization Name</span>
                    </div>
                    <div class="col-md-3" id="dddlCountry">
                        <label><span class="has-error required">* </span>Country</label>
                        <select id="ddlCountry" name="ddlCountry" class="form-control" isrequired="1" divcontainer="dddlCountry" errorspan="sddlCountry" defaultvalue="0" style="width: 100%;">
                            <option value="0">--- Select ---</option>
                            @*  @foreach (var Model.SalesLeadContactPersonDetailes in Model.CountryList)
                            {
                            if (CountryId == Model.SalesLeadContactPersonDetailes.CountryId)
                            {
                            <option value="@Model.SalesLeadContactPersonDetailes.CountryId" selected>@Model.SalesLeadContactPersonDetailes.CountryName</option>
                            }
                            else
                            {
                            <option value="@Model.SalesLeadContactPersonDetailes.CountryId">@Model.SalesLeadContactPersonDetailes.CountryName</option>
                            }

                            }*@
                        </select>
                        <span class="help-block d-none has-error" id="sddlCountry">Please Enter Valid Country Name</span>
                    </div>
                    <div class="col-md-3" id="dddlState">
                        <label><span class="has-error required">* </span>State</label>
                        <select id="ddlState" name="ddlState" class="form-control" isrequired="1" divcontainer="dddlState" errorspan="sddlState" defaultvalue="0">
                            <option value="1">--- Select ---</option>
                        </select>
                        <input id="txtSelectedStateId" name="txtSelectedStateId" type="hidden" value="@salesLeadAddEditResModel.salesLeadDetail.StateId" />
                        <span class="help-block d-none has-error" id="sddlState">Please Enter Valid State Name</span>
                    </div>
                    <div class="col-md-3" id="dddlCity">
                        <label><span class="has-error required">* </span>City</label>
                        <select id="ddlCity" name="ddlCity" class="form-control" isrequired="1" divcontainer="dddlCity" errorspan="sddlCity" defaultvalue="0">
                            <option value="1">--- Select ---</option>
                        </select>
                        <input id="txtSelectedCityId" name="txtSelectedCityId" type="hidden" value="@salesLeadAddEditResModel.salesLeadDetail.CityId" />
                        <span class="help-block d-none has-error" id="sddlCity">Please Enter Valid City Name</span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3" id="dtxtSalesLeadAddress">
                        <label><span class="has-error required">* </span>SalesLeadAddress</label>
                        <input id="txtSalesLeadAddress" name="txtSalesLeadAddress" type="text" class="form-control txtCapitalize text-length" placeholder="SalesLead Address" value="@salesLeadAddEditResModel.salesLeadDetail.Address" isrequired="1" divcontainer="dtxtSalesLeadAddress" errorspan="stxtSalesLeadAddress" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtSalesLeadAddress">Please Enter Valid SalesLead Address</span>
                    </div>
                    <div class="col-md-3" id="dtxtPhone1">
                        <label><span class="has-error required">* </span>Phone1</label>
                        <input id="txtPhone1" name="txtPhone1" type="text" class="form-control onlyNumeric text-length" placeholder="Phone1" value="@salesLeadAddEditResModel.salesLeadDetail.Phone1" isrequired="1" divcontainer="dtxtPhone1" errorspan="stxtPhone1" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                        <span class="help-block d-none has-error" id="stxtPhone1">Please Enter Valid Phone1</span>
                    </div>
                    <div class="col-md-3" id="dtxtPhone2">
                        <label>Phone2</label>
                        <input id="txtPhone2" name="txtPhone2" type="text" class="form-control onlyNumeric" placeholder="Phone2" value="@salesLeadAddEditResModel.salesLeadDetail.Phone2" isrequired="0" divcontainer="dtxtPhone2" errorspan="stxtPhone2" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                        <span class="help-block d-none has-error" id="stxtPhone2">Please Enter Valid Phone2</span>
                    </div>
                    <div class="col-md-3" id="dtxtEmail1">
                        <label><span class="has-error required">* </span>Email1</label>
                        <input id="txtEmail1" name="txtEmail1" type="text" class="form-control text-length" placeholder="Email1" value="@salesLeadAddEditResModel.salesLeadDetail.Email1" isrequired="1" divcontainer="dtxtEmail1" errorspan="stxtEmail1" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtEmail1">Please Enter Valid Email1</span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3" id="dtxtEmail2">
                        <label>Email2</label>
                        <input id="txtEmail2" name="txtEmail2" type="text" class="form-control" placeholder="Email2" value="@salesLeadAddEditResModel.salesLeadDetail.Email2" isrequired="0" divcontainer="dtxtEmail2" errorspan="stxtEmail2" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtEmail2">Please Enter Valid Email2</span>
                    </div>
                    <div class="col-md-3" id="dtxtWebsite">
                        <label>Website</label>
                        <input id="txtWebsite" name="txtWebsite" type="text" class="form-control" placeholder="Website" value="@salesLeadAddEditResModel.salesLeadDetail.WebsiteUrl" isrequired="0" divcontainer="dtxtWebsite" errorspan="stxtWebsite" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtWebsite">Please Enter Valid Website</span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Is Active</label>
                        @if (salesLeadAddEditResModel.salesLeadDetail.IsActive || salesLeadAddEditResModel.salesLeadDetail.SalesLeadId == 0)
                        {
                            <input type="checkbox" id="chkIsActive" name="chkIsActive" checked />
                        }
                        else
                        {
                            <input type="checkbox" id="chkIsActive" name="chkIsActive" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                @foreach (var item in salesLeadAddEditResModel.ContactPersonDetailList)
                {
                    string divId = "divContactPerson" + @ContactPersonCount;
                    string divClass = "CP-" + ContactPersonCount;
                    <div class="col-md-4" id="@divId">
                        <div class="card">
                            <div class="card-header bg-gray">
                                <h3 class="card-title"><b>Contact Person Details @ContactPersonCount</b></h3>
                            </div>
                            <div class="card-body">
                                <input id="txtSalesLeadContactPersonId_@ContactPersonCount" name="txtSalesLeadContactPersonId_@ContactPersonCount" type="hidden" value="@item.SalesLeadContactPersonId" />
                                <input id="txtSalesLeadId_@ContactPersonCount" name="txtSalesLeadId_@ContactPersonCount" type="hidden" value="@item.SalesLeadId" />

                                <div class="form-group" id="dtxtFirstName_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>First Name</label>
                                    <input id="txtFirstName_@ContactPersonCount" name="txtFirstName_@ContactPersonCount" type="text" class="form-control onlyletter txtCapitalize text-length @divClass CP" placeholder="First Name" value="@item.FirstName" isrequired="1" divcontainer="dtxtFirstName_@ContactPersonCount" errorspan="stxtFirstName_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtFirstName_@ContactPersonCount">Please Enter Valid First Name</span>
                                </div>
                                <div class="form-group" id="dtxtLastName_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Last Name</label>
                                    <input id="txtLastName_@ContactPersonCount" name="txtLastName_@ContactPersonCount" type="text" class="form-control onlyletter txtCapitalize text-length @divClass CP" placeholder="Last Name" value="@item.LastName" isrequired="1" divcontainer="dtxtLastName_@ContactPersonCount" errorspan="stxtLastName_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtLastName_@ContactPersonCount">Please Enter Valid Last Name</span>
                                </div>
                                <div class="form-group" id="dtxtEmail_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Email</label>
                                    <input id="txtEmail_@ContactPersonCount" name="txtEmail_@ContactPersonCount" type="email" class="form-control text-length @divClass CP" placeholder="Email" value="@item.Email" isrequired="1" divcontainer="dtxtEmail_@ContactPersonCount" errorspan="stxtEmail_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtEmail_@ContactPersonCount">Please Enter Valid Email</span>
                                </div>
                                <div class="form-group" id="dtxtDesignation_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Designation</label>
                                    <input id="txtDesignation_@ContactPersonCount" name="txtDesignation_@ContactPersonCount" type="text" class="form-control text-length @divClass CP" placeholder="Designation" value="@item.Designation" isrequired="1" divcontainer="dtxtDesignation_@ContactPersonCount" errorspan="stxtDesignation_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtDesignation_@ContactPersonCount">Please Enter Valid Designation</span>
                                </div>
                                <div class="form-group" id="dtxtMobile1_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Mobile1</label>
                                    <input id="txtMobile1_@ContactPersonCount" name="txtMobile1_@ContactPersonCount" type="text" class="form-control onlyNumeric text-length @divClass CP" placeholder="Mobile1" value="@item.Mobile1" isrequired="1" divcontainer="dtxtMobile1_@ContactPersonCount" errorspan="stxtMobile1_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                                    <span class="help-block d-none has-error" id="stxtMobile1_@ContactPersonCount">Please Enter Valid Mobile1</span>
                                </div>
                                <div class="form-group" id="dtxtMobile2_@ContactPersonCount">
                                    <label>Mobile2</label>
                                    <input id="txtMobile2_@ContactPersonCount" name="txtMobile2_@ContactPersonCount" type="text" class="form-control onlyNumeric @divClass CP" placeholder="Mobile2" value="@item.Mobile2" isrequired="0" divcontainer="dtxtMobile2_@ContactPersonCount" errorspan="stxtMobile1_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                                    <span class="help-block d-none has-error" id="stxtMobile2_@ContactPersonCount">Please Enter Valid Mobile2</span>
                                </div>
                                <div class="form-group" id="dtxtLinkedinurl_@ContactPersonCount">
                                    <label>Linkedinurl</label>
                                    <input id="txtLinkedinurl_@ContactPersonCount" name="txtLinkedinurl_@ContactPersonCount" type="text" class="form-control @divClass CP" placeholder="Linkedinurl" value="@item.Linkedinurl" isrequired="0" divcontainer="dtxtLinkedinurl_@ContactPersonCount" errorspan="stxtLinkedinurl_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtLinkedinurl_@ContactPersonCount">Please Enter Valid Linkedinurl</span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Is Active</label>
                                    @if (item.IsActive || salesLeadAddEditResModel.salesLeadDetail.SalesLeadId == 0)
                                    {
                                        <input type="checkbox" id="chkIsActive_@ContactPersonCount" name="chkIsActive_@ContactPersonCount" class="CP" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="chkIsActive_@ContactPersonCount" name="chkIsActive_@ContactPersonCount" class="CP" />
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    ContactPersonCount++;
                }
            </div>
        </div>
        <div class="card-footer">
            @if (salesLeadAddEditResModel.salesLeadDetail.SalesLeadId == 0)
            {
                <input type="button" id="btnSaveUpdateSalesLead" name="btnSaveUpdateSalesLead" class="btn btn-success float-right ml-1" value="Save" />
            }
            else
            {
                <input type="button" id="btnSaveUpdateSalesLead" name="btnSaveUpdateSalesLead" class="btn btn-warning float-right ml-1" value="Update" />
            }
            <input type="button" id="btnCancelSalesLead" name="btnCancelSalesLead" class="btn btn-danger float-right" value="Cancel" />
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/archeone/js/saleslead/addeditsaleslead.js?_@DateTime.Now.Ticks"></script>
}