@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model CommonResponse
@{
    Layout = "_MasterLayout";
    ViewBag.datatable = "true";
    SalesLeadAddEditResModel salesLeadAddEditResModel = Model.Data;
    int ContactPersonCount = 1;
    string PopupTitle1 = "";
    int id = 1;
    //Layout = null;
    //PopupTitle1 = Model.salesLeadDetail.Id > 0 ? "Edit SaleLead" : "Add SaleLead";
    //var CountryId = Model.salesLeadDetail.CountryId;
    //var stateId = Model.salesLeadDetail.StateId;
    //var CityId = Model.salesLeadDetail.CityId;
    //var salesLeadContactPersonDetailList = Model.SalesLeadContactPersonList;
    //SalesLeadContactPersonDetail salesLeadContactPersonDetail = new SalesLeadContactPersonDetail();
    //var firstSalesLeadContactPersonDetailList = salesLeadContactPersonDetail;
    //var secondSalesLeadContactPersonDetailList = salesLeadContactPersonDetail;
    //var thirdSalesLeadContactPersonDetailList = salesLeadContactPersonDetail;
    //if (salesLeadContactPersonDetailList.Count > 0)
    //{
    //    if (salesLeadContactPersonDetailList.Count == 1)
    //    {
    //        firstSalesLeadContactPersonDetailList = salesLeadContactPersonDetailList[0];
    //    }
    //    else if (salesLeadContactPersonDetailList.Count == 2)
    //    {
    //        firstSalesLeadContactPersonDetailList = salesLeadContactPersonDetailList[0];
    //        secondSalesLeadContactPersonDetailList = salesLeadContactPersonDetailList[1];
    //    }
    //    else if (salesLeadContactPersonDetailList.Count == 3)
    //    {
    //        firstSalesLeadContactPersonDetailList = salesLeadContactPersonDetailList[0];
    //        secondSalesLeadContactPersonDetailList = salesLeadContactPersonDetailList[1];
    //        thirdSalesLeadContactPersonDetailList = salesLeadContactPersonDetailList[2];
    //    }
    //}
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Leads</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sales Lead</a></li>
                    <li class="breadcrumb-item active">Add Lead</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add Lead</h3>
        </div>
        <div class="card-body">
            <div id="divSalesLead">
                <div class="row form-group">
                    <input id="txtSalesLeadId" name="txtSalesLeadId" type="hidden" value="@salesLeadAddEditResModel.salesLeadDetail.SalesLeadId" />
                    <div class="col-md-3" id="dtxtOrganizationName">
                        <label><span class="has-error required">* </span>Organization Name</label>
                        <input id="txtOrganizationName" name="txtOrganizationName" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="Organization Name" value="@salesLeadAddEditResModel.salesLeadDetail.OrgName" isrequired="1" divcontainer="dtxtOrganizationName" errorspan="stxtOrganizationName" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtOrganizationName">Please Enter Valid Organization Name</span>
                    </div>
                    <div class="col-md-3" id="dddlCountry">
                        <label><span class="has-error required">* </span>Country</label>
                        <select id="ddlCountry" name="ddlCountry" class="form-control" isrequired="1" divcontainer="dddlCountry" errorspan="sddlCountry" defaultvalue="0" style="width: 100%;">
                            <option value="1">--- Select ---</option>
                            @*  @foreach (var Model.SalesLeadContactPersonDetailes in Model.CountryList)
                            {
                            if (CountryId == Model.SalesLeadContactPersonDetailes.CountryId)
                            {
                            <option value="@Model.SalesLeadContactPersonDetailes.CountryId" selected>@Model.SalesLeadContactPersonDetailes.CountryName</option>
                            }
                            else
                            {
                            <option value="@Model.SalesLeadContactPersonDetailes.CountryId">@Model.SalesLeadContactPersonDetailes.CountryName</option>
                            }

                            }*@
                        </select>
                        <span class="help-block d-none has-error" id="sddlCountry">Please Enter Valid Country Name</span>
                    </div>
                    <div class="col-md-3" id="dddlState">
                        <label><span class="has-error required">* </span>State</label>
                        <select id="ddlState" name="ddlState" class="form-control" isrequired="1" divcontainer="dddlState" errorspan="sddlState" defaultvalue="0">
                            <option value="1">--- Select ---</option>

                        </select>
                        <input id="txtSelectedStateId" name="txtSelectedStateId" type="hidden" value="@salesLeadAddEditResModel.salesLeadDetail.StateId" />
                        <span class="help-block d-none has-error" id="sddlState">Please Enter Valid State Name</span>
                    </div>
                    <div class="col-md-3" id="dddlCity">
                        <label><span class="has-error required">* </span>City</label>
                        <select id="ddlCity" name="ddlCity" class="form-control" isrequired="1" divcontainer="dddlCity" errorspan="sddlCity" defaultvalue="0">
                            <option value="1">--- Select ---</option>
                        </select>
                        <input id="txtSelectedCityId" name="txtSelectedCityId" type="hidden" value="@salesLeadAddEditResModel.salesLeadDetail.CityId" />
                        <span class="help-block d-none has-error" id="sddlCity">Please Enter Valid City Name</span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3" id="dtxtSalesLeadAddress">
                        <label><span class="has-error required">* </span>SalesLeadAddress</label>
                        <input id="txtSalesLeadAddress" name="txtSalesLeadAddress" type="text" class="form-control  txtCapitalize text-length" placeholder="SalesLead Address" value="@salesLeadAddEditResModel.salesLeadDetail.Address" isrequired="1" divcontainer="dtxtSalesLeadAddress" errorspan="stxtSalesLeadAddress" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtSalesLeadAddress">Please Enter Valid SalesLead Address</span>
                    </div>
                    <div class="col-md-3" id="dtxtPhone1">
                        <label><span class="has-error required">* </span>Phone1</label>
                        <input id="txtPhone1" name="txtPhone1" type="text" class="form-control onlyNumeric text-length" placeholder="Phone1" value="@salesLeadAddEditResModel.salesLeadDetail.Phone1" isrequired="1" divcontainer="dtxtPhone1" errorspan="stxtPhone1" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                        <span class="help-block d-none has-error" id="stxtPhone1">Please Enter Valid Phone1</span>
                    </div>
                    <div class="col-md-3" id="dtxtPhone2">
                        <label>Phone2</label>
                        <input id="txtPhone2" name="txtPhone2" type="text" class="form-control onlyNumeric" placeholder="Phone2" value="@salesLeadAddEditResModel.salesLeadDetail.Phone2" isrequired="0" divcontainer="dtxtPhone2" errorspan="stxtPhone2" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                        <span class="help-block d-none has-error" id="stxtPhone2">Please Enter Valid Phone2</span>
                    </div>
                    <div class="col-md-3" id="dtxtEmail1">
                        <label><span class="has-error required">* </span>Email1</label>
                        <input id="txtEmail1" name="txtEmail1" type="text" class="form-control text-length" placeholder="Email1" value="@salesLeadAddEditResModel.salesLeadDetail.Email1" isrequired="1" divcontainer="dtxtEmail1" errorspan="stxtEmail1" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtEmail1">Please Enter Valid Email1</span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3" id="dtxtEmail2">
                        <label>Email2</label>
                        <input id="txtEmail2" name="txtEmail2" type="text" class="form-control" placeholder="Email2" value="@salesLeadAddEditResModel.salesLeadDetail.Email2" isrequired="0" divcontainer="dtxtEmail2" errorspan="stxtEmail2" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtEmail2">Please Enter Valid Email2</span>
                    </div>
                    <div class="col-md-3" id="dtxtWebsite">
                        <label>Website</label>
                        <input id="txtWebsite" name="txtWebsite" type="text" class="form-control txtCapitalize" placeholder="Website" value="@salesLeadAddEditResModel.salesLeadDetail.WebsiteUrl" isrequired="0" divcontainer="dtxtWebsite" errorspan="stxtWebsite" defaultvalue="" autocomplete="off" minlength="2">
                        <span class="help-block d-none has-error" id="stxtWebsite">Please Enter Valid Website</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                @foreach (var item in salesLeadAddEditResModel.ContactPersonDetailList)
                {
                    string divId = "divContactPerson" + @ContactPersonCount;
                    string divClass = "CP-" + ContactPersonCount;
                    <div class="col-md-4" id="@divId">
                        <div class="card">
                            <div class="card-header bg-gray">
                                <h3 class="card-title"><b>Contact Person Details @ContactPersonCount</b></h3>

                            </div>
                            <div class="card-body">
                                <input id="txtSalesLeadContactPersonId" name="txtSalesLeadContactPersonId" type="hidden" value="@item.SalesLeadContactPersonId" />
                                <input id="txtSalesLeadId" name="txtSalesLeadId" type="hidden" value="@item.SalesLeadId" />

                                <div class="form-group" id="dtxtFirstName_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>First Name</label>
                                    <input id="txtFirstName_@ContactPersonCount" name="txtFirstName_@ContactPersonCount" type="text" class="form-control onlyletter txtCapitalize text-length @divClass" placeholder="First Name" value="@item.FirstName" isrequired="1" divcontainer="dtxtFirstName_@ContactPersonCount" errorspan="stxtFirstName_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtFirstName_@ContactPersonCount">Please Enter Valid First Name</span>
                                </div>
                                <div class="form-group" id="dtxtLastName_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Last Name</label>
                                    <input id="txtLastName_@ContactPersonCount" name="txtLastName_@ContactPersonCount" type="text" class="form-control onlyletter txtCapitalize text-length @divClass" placeholder="Last Name" value="@item.LastName" isrequired="1" divcontainer="dtxtLastName_@ContactPersonCount" errorspan="stxtLastName_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtLastName_@ContactPersonCount">Please Enter Valid Last Name</span>
                                </div>
                                <div class="form-group" id="dtxtEmail_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Email</label>
                                    <input id="txtEmail_@ContactPersonCount" name="txtEmail_@ContactPersonCount" type="email" class="form-control text-length @divClass" placeholder="Email" value="@item.Email" isrequired="1" divcontainer="dtxtEmail_@ContactPersonCount" errorspan="stxtEmail_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtEmail_@ContactPersonCount">Please Enter Valid Email</span>
                                </div>
                                <div class="form-group" id="dtxtDesignation_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Designation</label>
                                    <input id="txtDesignation_@ContactPersonCount" name="txtDesignation_@ContactPersonCount" type="text" class="form-control onlyletter txtCapitalize text-length @divClass" placeholder="Designation" value="@item.Designation" isrequired="1" divcontainer="dtxtDesignation_@ContactPersonCount" errorspan="stxtDesignation_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtDesignation_@ContactPersonCount">Please Enter Valid Designation</span>
                                </div>
                                <div class="form-group" id="dtxtMobile1_@ContactPersonCount">
                                    <label><span class="has-error required">* </span>Mobile1</label>
                                    <input id="txtMobile1_@ContactPersonCount" name="txtMobile1_@ContactPersonCount" type="text" class="form-control onlyNumeric text-length @divClass" placeholder="Mobile1" value="@item.Mobile1" isrequired="1" divcontainer="dtxtMobile1_@ContactPersonCount" errorspan="stxtMobile1_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                                    <span class="help-block d-none has-error" id="stxtMobile1_@ContactPersonCount">Please Enter Valid Mobile1</span>
                                </div>
                                <div class="form-group" id="dtxtMobile2_@ContactPersonCount">
                                    <label>Mobile2</label>
                                    <input id="txtMobile2_@ContactPersonCount" name="txtMobile2_@ContactPersonCount" type="text" class="form-control onlyNumeric @divClass" placeholder="Mobile2" value="@item.Mobile2" isrequired="0" divcontainer="dtxtMobile2_@ContactPersonCount" errorspan="stxtMobile1_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                                    <span class="help-block d-none has-error" id="stxtMobile2_@ContactPersonCount">Please Enter Valid Mobile2</span>
                                </div>
                                <div class="form-group" id="dtxtLinkedinurl_@ContactPersonCount">
                                    <label>Linkedinurl</label>
                                    <input id="txtLinkedinurl_@ContactPersonCount" name="txtLinkedinurl_@ContactPersonCount" type="text" class="form-control txtCapitalize @divClass" placeholder="Linkedinurl" value="@item.Linkedinurl" isrequired="0" divcontainer="dtxtLinkedinurl_@ContactPersonCount" errorspan="stxtLinkedinurl_@ContactPersonCount" defaultvalue="" autocomplete="off" minlength="2">
                                    <span class="help-block d-none has-error" id="stxtLinkedinurl_@ContactPersonCount">Please Enter Valid Linkedinurl</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    ContactPersonCount++;
                }

                @* <div class="col-4" id="divSalesLeadContactPerson1">
                <div class="card card-widget widget-user-2 card-outline card-primary">
                <div class="card-header">
                <h5 class="card-title"><b>Contact Person Details 1</b></h5>
                </div>
                <br />
                <div class="mx-auto">
                <input id="txtSalesLeadContactPersonId" name="txtSalesLeadContactPersonId" type="hidden" class="form-control col-sm-4" value="@firstSalesLeadContactPersonDetailList.SalesLeadContactPersonId" />

                <input id="txtSalesLeadId" name="txtSalesLeadId" type="hidden" class="form-control col-sm-4" value="@Model.salesLeadDetail.Id" />

                <div class="form-group" id="dtxtFirstName">
                <label><span class="has-error required">* </span>First Name</label>
                <input id="txtFirstName" name="txtFirstName" type="text" class="form-control onlyletter txtCapitalize text-length col-lg-12" placeholder="First Name" value="@firstSalesLeadContactPersonDetailList.FirstName" isrequired="1" divcontainer="dtxtFirstName" errorspan="stxtFirstName" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtFirstName">Please Enter Valid First Name</span>
                </div>


                <div class="form-group" id="dtxtLastName">
                <label><span class="has-error required">* </span>Last Name</label>
                <input id="txtLastName" name="txtLastName" type="text" class="form-control onlyletter txtCapitalize text-length col-lg-12" placeholder="Last Name" value="@firstSalesLeadContactPersonDetailList.LastName" isrequired="1" divcontainer="dtxtLastName" errorspan="stxtLastName" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtLastName">Please Enter Valid Last Name</span>
                </div>
                <div class="form-group" id="dtxtEmail">
                <label><span class="has-error required">* </span>Email</label>
                <input id="txtEmail" name="txtEmail" type="email" class="form-control text-length col-lg-12" placeholder="Email" value="@firstSalesLeadContactPersonDetailList.Email" isrequired="1" divcontainer="dtxtEmail" errorspan="stxtEmail" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtEmail">Please Enter Valid Email</span>
                </div>

                <div class="form-group" id="dtxtDesignation">
                <label><span class="has-error required">* </span>Designation</label>
                <input id="txtDesignation" name="txtDesignation" type="text" class="form-control onlyletter txtCapitalize text-length col-lg-12" placeholder="Designation" value="@firstSalesLeadContactPersonDetailList.Designation" isrequired="1" divcontainer="dtxtDesignation" errorspan="stxtDesignation" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtDesignation">Please Enter Valid Designation</span>
                </div>

                <div class="form-group" id="dtxtMobile1">
                <label><span class="has-error required">* </span>Mobile1</label>
                <input id="txtMobile1" name="txtMobile1" type="text" class="form-control onlyNumeric text-length col-lg-12" placeholder="Mobile1" value="@firstSalesLeadContactPersonDetailList.Mobile1" isrequired="1" divcontainer="dtxtMobile1" errorspan="stxtMobile1" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                <span class="help-block d-none has-error" id="stxtMobile1">Please Enter Valid Mobile1</span>
                </div>

                <div class="form-group" id="dtxtMobile2">
                <label>Mobile2</label>
                <input id="txtMobile2" name="txtMobile2" type="text" class="form-control onlyNumeric col-lg-12" placeholder="Mobile2" value="@firstSalesLeadContactPersonDetailList.Mobile2" isrequired="0" divcontainer="dtxtMobile2" errorspan="stxtMobile1" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                <span class="help-block d-none has-error" id="stxtMobile2">Please Enter Valid Mobile2</span>
                </div>

                <div class="form-group" id="dtxtLinkedinurl">
                <label>Linkedinurl</label>
                <input id="txtLinkedinurl" name="txtLinkedinurl" type="text" class="form-control txtCapitalize col-lg-12" placeholder="Linkedinurl" value="@firstSalesLeadContactPersonDetailList.Linkedinurl" isrequired="0" divcontainer="dtxtLinkedinurl" errorspan="stxtLinkedinurl" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtLinkedinurl">Please Enter Valid Linkedinurl</span>
                </div>



                </div>
                </div>
                </div>
                <div class="col-4" id="divSalesLeadContactPerson2">

                <div class="card card-widget widget-user-2  card-outline card-primary">
                <div class="card-header">
                <h5 class="card-title"> <b>Contact Person Details 2</b></h5>
                </div>

                <br />
                <div class="mx-auto">

                <input id="txtSalesLeadContactPersonId1" name="txtSalesLeadContactPersonId1" type="hidden" class="form-control col-sm-4" value="@secondSalesLeadContactPersonDetailList.SalesLeadContactPersonId" />

                <input id="txtSalesLeadId1" name="txtSalesLeadId1" type="hidden" class="form-control col-sm-4" value="@Model.salesLeadDetail.Id" />

                <div class="form-group" id="dtxtFirstName1">
                <label><span class="has-error required">* </span>First Name</label>
                <input id="txtFirstName1" name="txtFirstName1" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="First Name" value="@secondSalesLeadContactPersonDetailList.FirstName" isrequired="1" divcontainer="dtxtFirstName1" errorspan="stxtFirstName1" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtFirstName1">Please Enter Valid First Name</span>
                </div>


                <div class="form-group" id="dtxtLastName1">
                <label><span class="has-error required">* </span>Last Name</label>
                <input id="txtLastName1" name="txtLastName1" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="Last Name" value="@secondSalesLeadContactPersonDetailList.LastName" isrequired="1" divcontainer="dtxtLastName1" errorspan="stxtLastName1" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtLastName1">Please Enter Valid Last Name</span>
                </div>
                <div class="form-group" id="dtxtSalesLeadContactPersonEmail1">
                <label><span class="has-error required">* </span>Email</label>
                <input id="txtSalesLeadContactPersonEmail1" name="txtSalesLeadContactPersonEmail1" type="email" class="form-control text-length" placeholder="Email" value="@secondSalesLeadContactPersonDetailList.Email" isrequired="1" divcontainer="dtxtSalesLeadContactPersonEmail1" errorspan="stxtSalesLeadContactPersonEmail1" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtSalesLeadContactPersonEmail1">Please Enter Valid Email</span>
                </div>

                <div class="form-group" id="dtxtDesignation1">
                <label><span class="has-error required">* </span>Designation</label>
                <input id="txtDesignation1" name="txtDesignation1" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="Designation" value="@secondSalesLeadContactPersonDetailList.Designation" isrequired="1" divcontainer="dtxtDesignation1" errorspan="stxtDesignation1" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtDesignation1">Please Enter Valid Designation</span>
                </div>

                <div class="form-group" id="dtxtMobile11">
                <label><span class="has-error required">* </span>Mobile1</label>
                <input id="txtMobile11" name="txtMobile11" type="text" class="form-control onlyNumeric text-length" placeholder="Mobile11" value="@secondSalesLeadContactPersonDetailList.Mobile1" isrequired="1" divcontainer="dtxtMobile11" errorspan="stxtMobile11" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                <span class="help-block d-none has-error" id="stxtMobile11">Please Enter Valid Mobile1</span>
                </div>

                <div class="form-group" id="dtxtMobile21">
                <label>Mobile2</label>
                <input id="txtMobile21" name="txtMobile21" type="text" class="form-control onlyNumeric" placeholder="Mobile2" value="@secondSalesLeadContactPersonDetailList.Mobile2" isrequired="0" divcontainer="dtxtMobile21" errorspan="stxtMobile11" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                <span class="help-block d-none has-error" id="stxtMobile21">Please Enter Valid Mobile2</span>
                </div>

                <div class="form-group" id="dtxtLinkedinurl1">
                <label>Linkedinurl</label>
                <input id="txtLinkedinurl1" name="txtLinkedinurl1" type="text" class="form-control txtCapitalize" placeholder="Linkedinurl" value="@secondSalesLeadContactPersonDetailList.Linkedinurl" isrequired="0" divcontainer="dtxtLinkedinurl1" errorspan="stxtLinkedinurl1" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtLinkedinurl1">Please Enter Valid Linkedinurl</span>
                </div>

                </div>
                </div>
                </div>
                <div class="col-4" id="divSalesLeadContactPerson3">

                <div class="card card-widget widget-user-2  card-outline card-primary">
                <div class="card-header">
                <h5 class="card-title"><b>Contact Person Details 3</b></h5>
                </div>
                <br />
                <div class="mx-auto">

                <input id="txtSalesLeadContactPersonId2" name="txtSalesLeadContactPersonId" type="hidden" class="form-control col-sm-4" value="@thirdSalesLeadContactPersonDetailList.SalesLeadContactPersonId" />

                <input id="txtSalesLeadId2" name="txtSalesLeadId" type="hidden" class="form-control col-sm-4" value="@Model.salesLeadDetail.Id" />

                <div class="form-group" id="dtxtFirstName2">
                <label><span class="has-error required">* </span>First Name</label>
                <input id="txtFirstName2" name="txtFirstName2" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="First Name" value="@thirdSalesLeadContactPersonDetailList.FirstName" isrequired="1" divcontainer="dtxtFirstName2" errorspan="stxtFirstName2" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtFirstName2">Please Enter Valid First Name</span>
                </div>


                <div class="form-group" id="dtxtLastName2">
                <label><span class="has-error required">* </span>Last Name</label>
                <input id="txtLastName2" name="txtLastName2" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="Last Name" value="@thirdSalesLeadContactPersonDetailList.LastName" isrequired="1" divcontainer="dtxtLastName2" errorspan="stxtLastName2" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtLastName2">Please Enter Valid Last Name</span>
                </div>
                <div class="form-group" id="dtxtSalesLeadContactPersonEmail2">
                <label><span class="has-error required">* </span>Email</label>
                <input id="txtSalesLeadContactPersonEmail2" name="txtSalesLeadContactPersonEmail2" type="email" class="form-control text-length" placeholder="Email" value="@thirdSalesLeadContactPersonDetailList.Email" isrequired="1" divcontainer="dtxtSalesLeadContactPersonEmail2" errorspan="stxtSalesLeadContactPersonEmail2" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtSalesLeadContactPersonEmail2">Please Enter Valid Email</span>
                </div>

                <div class="form-group" id="dtxtDesignation2">
                <label><span class="has-error required">* </span>Designation</label>
                <input id="txtDesignation2" name="txtDesignation2" type="text" class="form-control onlyletter txtCapitalize text-length" placeholder="Designation" value="@thirdSalesLeadContactPersonDetailList.Designation" isrequired="1" divcontainer="dtxtDesignation2" errorspan="stxtDesignation2" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtDesignation2">Please Enter Valid Designation</span>
                </div>

                <div class="form-group" id="dtxtMobile12">
                <label><span class="has-error required">* </span>Mobile1</label>
                <input id="txtMobile12" name="txtMobile12" type="text" class="form-control onlyNumeric text-length" placeholder="Mobile12" value="@thirdSalesLeadContactPersonDetailList.Mobile1" isrequired="1" divcontainer="dtxtMobile12" errorspan="stxtMobile12" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                <span class="help-block d-none has-error" id="stxtMobile12">Please Enter Valid Mobile1</span>
                </div>

                <div class="form-group" id="dtxtMobile22">
                <label>Mobile2</label>
                <input id="txtMobile22" name="txtMobile22" type="text" class="form-control onlyNumeric" placeholder="Mobile2" value="@thirdSalesLeadContactPersonDetailList.Mobile2" isrequired="0" divcontainer="dtxtMobile22" errorspan="stxtMobile12" defaultvalue="" autocomplete="off" minlength="10" maxlength="10">
                <span class="help-block d-none has-error" id="stxtMobile22">Please Enter Valid Mobile2</span>
                </div>

                <div class="form-group" id="dtxtLinkedinurl2">
                <label>Linkedinurl</label>
                <input id="txtLinkedinurl2" name="txtLinkedinurl2" type="text" class="form-control txtCapitalize" placeholder="Linkedinurl" value="@thirdSalesLeadContactPersonDetailList.Linkedinurl" isrequired="0" divcontainer="dtxtLinkedinurl2" errorspan="stxtLinkedinurl2" defaultvalue="" autocomplete="off" minlength="2">
                <span class="help-block d-none has-error" id="stxtLinkedinurl2">Please Enter Valid Linkedinurl</span>
                </div>

                </div>
                </div>
                </div>*@
            </div>
        </div>
        <div class="card-footer">
            @if (salesLeadAddEditResModel.salesLeadDetail.SalesLeadId == 0)
            {
                <input type="button" id="btnSaveUpdateSalesLead" name="btnSaveUpdateSalesLead" class="btn btn-success float-right ml-1" value="Save" />
            }
            else
            {
                <input type="button" id="btnSaveUpdateSalesLead" name="btnSaveUpdateSalesLead" class="btn btn-success float-right ml-1" value="Update" />
            }
            <input type="button" id="btnCancelSalesLead" name="btnCancelSalesLead" class="btn btn-danger float-right" value="Cancel" />
            @*<div class="row justify-content-end">
            <div class="col-md-1">
            <button type="button" id="btnSaveAdd" name="btnSubmit" class="btn btn-success">Save </button>
            </div>
            <div class="col-md-1">
            <button type="button" id="btnCancel" name="btnCancel" class="btn btn-danger">Cancel</button>
            </div>
            </div>*@
        </div>
    </div>

</section>

@section Scripts{
    <script src="~/archeone/js/sales/addeditsaleslead.js?_@DateTime.Now.Ticks"></script>
}