@using ArcheOne.Helper.CommonModels;
@model CommonResponse
@{
	Layout = "_BlankLayout";
	ViewBag.datatable = "true";
}

<div class="row form-group">
	<div class="col-md-12">
		<table id="tblUser" class="table table-bordered table-striped" style="width:100%">
			@*<thead>
				<tr>
					<td>
						<b>Action</b>
					</td>
					<td>
						<b>Company</b>
					</td>
					<td>
						<b>Role</b>
					</td>
					<td>
						<b>FullName</b>
					</td>
					<td>
						<b>Pincode</b>
					</td>
					<td>
						<b>Contact No.</b>
					</td>
					<td>
						<b>Email Address</b>
					</td>
					<td>
						<b>ProfileImage</b>
					</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Data)
				{
					<tr>
						<td>
							<i class="fa fa-pen pen" Id="@item.Id" onclick="AddEditUser(@item.Id)"></i> |
							<i class="fa fa-trash trash" Id="@item.Id" onclick="DeleteUser(@item.Id)"></i>
						</td>
						<td>
							@item.CompanyId
						</td>
						<td>
							@item.RoleId
						</td>
						<td>
							@item.FullName
						</td>
						<td>
							@item.Pincode
						</td>
						<td>
							@item.Mobile1
						</td>
						<td>
							@item.Email
						</td>
						<td>
							<img src="@item.PhotoUrl" height="60px" width="60px" alt="Profile Image" />
						</td>
					</tr>
				}
			</tbody>*@
		</table>

	</div>
</div>