@using ArcheOne.Helper.CommonModels;
@model CommonResponse
@{
	Layout = "_BlankLayout";
	ViewBag.datatable = "true";
}

<div class="row form-group">
	<div class="col-md-12">
		<table id="tblUser" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					@* <td>
					<b>Id</b>
					</td>*@
					<td>
						<b>Company</b>
					</td>
					<td>
						<b>Role</b>
					</td>
					<td>
						<b>FullName</b>
					</td>
					@*<td>
						<b>UserName</b>
					</td>
					<td>
						<b>Password</b>
					</td>
					<td>
						<b>Address</b>
					</td>*@
					<td>
						<b>Pincode</b>
					</td>
					<td>
						<b>Contact No.</b>
					</td>
					@*<td>
						<b>Mobile2</b>
					</td>*@
					<td>
						<b>Email Address</b>
					</td>
					<td>
						<b>ProfileImage</b>
					</td>
					<td>
						<b>Edit</b>
					</td>
					<td>
						<b>Delete</b>
					</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Data)
				{
					<tr>
						@*  <td>
					@item.Id
					</td>*@
						<td>
							@item.CompanyId
						</td>
						<td>
							@item.RoleId
						</td>
						<td>
							@item.FullName
						</td>
						@*<td>
							@item.UserName
						</td>
						<td>
							@item.Password
						</td>
						<td>
							@item.Address
						</td>*@
						<td>
							@item.Pincode
						</td>
						<td>
							@item.Mobile1
						</td>
						@*<td>
							@item.Mobile2
						</td>*@
						<td>
							@item.Email
						</td>
						<td>
							<img src="@item.PhotoUrl" height="60px" width="60px" alt="Profile Image" />
							@*<img src="/Files/UserProfile/no-image-png-2.png" height="100px" width="100px" alt="Profile Image" />*@
						</td>
						<td>
							<button class="btn btn-info btn-edit" Id="@item.Id" onclick="AddEditUser(@item.Id)">Edit</button>
						</td>
						<td>
							<button class="btn btn-danger btn-delete" Id="@item.Id" onlclick="DeleteUser(@item.Id)">Delete</button>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</div>